@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
 .all{
   position:absolute;
    top:7.5rem;   
    left:50%;
    transform: translate(-50%);
    width:80%;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height:80%;
     

 }
 button{
   display:none;
 }
 #mainContainer{
   width:49%;
   height: 100%;}
  
#mobile_menu{
   display:none;
}
    

 #mainImage{
   height:33.5rem;
   width:24rem;
    background-image: url(./images/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
   
    
   
    
 }
 #h1{
   margin-top: 13%;
   font-size: 400%;
   margin-bottom: 10%;
   font-weight: bold;
   
   
   
    
    
    
 }
 #texto{
    color:#686868;
    text-align: left;
    line-height: 1.5rem;
    
    
 }
 a{
   text-decoration: none;

 }
 #saiba{
    color:rgb(245,245,245);
    
    border-style: none;
    border-radius: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 8rem ;
    text-align: center;
    font-weight: bold;
   text-decoration: none;
    border-color: #686868;
    background-color: rgb(10,10,10);
 }
 #saiba:hover{
   border-style: solid;
    border-width: 2px;
    color:black;
    border-color: #686868;
    cursor: pointer;
    background-color: rgb(245,245,245);
 }
 footer{
     position:absolute;
     bottom: 0;
    
    
 }
 .footer_ul{
   display: flex;
   margin-bottom: 0;
   align-items: center;
 }
 .liFooter{
   display: inline-block;

 }
 .image{
    width: 4.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    

 }
 .um{
    background-image: url(./images/client-databiz.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 5.5rem;
    background-size: 100%;
 }
 .dois{
    background-image: url(./images/client-audiophile.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 2.5rem;
    background-size: 100%;

 }
 .tres{
    background-image: url(./images/client-meet.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
 }
 .quatro{
    background-image: url(./images/client-maker.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
 }

 @media screen and (max-width:960px) {
   #mainContainer{
     order:1;
     
   }  
   footer{
   position: static;
 }
 }
 
 @media screen and (max-width:780px){
   body{
      margin: none;
      padding:none;
      
     
      
   }
   .header_ulFirst{
      display:none;
   }
   
   .header_ulSecond{
      display:none;

   }
   #logo{
      margin-left: 0;
      
   }
   
    #btn li{  
      margin-right: 2rem;
      width:2rem;
      height:3px;
      background-color: black;
      margin-bottom:0.25rem;
      
    }
    
    
   header{
      align-content: center;   
     
   }

   .all{
        
      height:max-content;
      width:100%;
      top:5.1rem;
      align-items: center;
      flex-wrap: wrap;
      
   }
   #h1{
      font-size: 250%;
      text-align:center;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 2.4rem;
      margin-bottom:1rem ;

   }
   #texto{
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1.5rem;
   }
   #saiba{
      margin: auto;
      margin-bottom: 3rem;

   }
   #mainImage{
      width:100%;
      height:20rem;
      background-image: url(./images/image-hero-mobile.png);
      background-repeat: no-repeat;
      background-size: 100%;
   }
   #mainContainer{
      width: 100%;

   }
   footer{
      position: static;
      width:100%;
      bottom:20rem;
      
   }
   .footer_ul{
      justify-content: space-around;
   }
   .um{
      margin-right: 0;
      margin-left: 1rem;
   }
   
   @keyframes goingToX {
      0%{transform: rotate(0deg);}
      
      100%{transform: rotate(45deg) translate(-3px,9px);}
     
      
   }
   @keyframes goingToX2 {
      0%{transform: rotate(0deg); }
      
      100%{transform: rotate(-45deg) translate(-4px,-7px); }
     
      
   }
   #btn1.active{
      
      animation-name: goingToX;
      animation-duration:1s;
      animation-fill-mode: forwards;
    }
    #btn3.active{
      
      animation-name: goingToX2;
      animation-duration:1s;
      animation-fill-mode: forwards;
     
    }
    #btn2.active{
      display:none;
    }
    @keyframes mobile_animate {
      from{width:0; opacity: 0;}
      to{   width: 50%; opacity: 1; }
      
    }
    #mobile_menu.active{
      display:flex;
      flex-direction: column;
      position:absolute;
      right:-5px;
      top:80px;
      height:100vh;
      width: 50%;
      background-color: rgb(245,245,245);
      animation-name:mobile_animate ;
      animation-duration: 1s;
    }
   @keyframes arrowAnimate {
      0%{position: absolute;right:-3px; opacity: 0;}
      50%{position: absolute;right:3rem; opacity:1;}
      70%{position: absolute;right:4rem; }
      90%{position: absolute;right:6rem; transform:translateY(90%) }
      100%{position:static;}
   }
   #features_arrow{
      animation-name: arrowAnimate;
      animation-duration:0.7s;
      animation-timing-function:linear;
      
   }
   #company_arrow{
      animation-name: arrowAnimate;
      animation-duration:0.8s;
      animation-timing-function:linear;
    

   }

   
   @keyframes back {
      from{background-color: rgba(0,0,0,0);}
      to{background-color: rgba(0,0,0,0.5);}
      
   }
  
   .all.active{ 
      animation-name: back;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
     

   }
   #mainImage.active{
      opacity:0.5;
   }
   #mainContainer.active{
      opacity: 0.5;
   }
    .header_ulFirst_mobile{
      display: block;
      text-align:left;
      width: 100%;

    }
    .header_ulFirst_mobile>li{
      display:block;
    }
    .header_ulSecond_mobile{
      display:block;
      width: 60%;
      text-align:center;
      align-self: center;
        
    }
    .header_ulFirst_mobile>li{
      margin-bottom: 1.5rem;

    }
    .header_ulSecond_mobile>li{
      margin-bottom: 1.5rem;
      margin-left: auto;

    }
    #dropdown_mobile{
      display:none;   
     
    }
    #dropdown_mobile>li{
      padding:0.5rem;
       margin-bottom: 0.5rem;
    }
    
    #dropdown_mobile.active {
      display: block;
    }

    #dropdown2_mobile{
      display:none;   
     
    }
    #dropdown2_mobile.active{
      display: block;
     
    }
    #dropdown2_mobile>li{
      padding:0.5rem;
       margin-bottom: 0.5rem;
    }
    
   }